<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<title>OTP</title>
</head>
<body>
<h2>Enter OTP</h2>
<div class="container-fluid">
	<form method="POST" th:action="@{/login/otp}">
		<input type="number" name="otp"> <br />
		<br />
		<button type="submit">Check</button>
	</form>
</div>
	
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>